<%-include("../layouts/header", { title: "Create Pet" }); -%>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="alert alert-success text-center">Crear nuevo profesor</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form action="/teachers" method="post" class="row">
        <div class="col-6">
          <label for="name" class="form-label">Nombres</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control border border-dark-subtle"
            required
          />
        </div>
        <div class="col-6">
            <label for="lastName" class="form-label">Apellidos</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              class="form-control border border-dark-subtle"
              required
            />
          </div>
        <div class="col-6">
          <label for="age" class="form-label">Edad</label>
          <input
            type="number"
            name="age"
            id="age"
            class="form-control border border-dark-subtle"
            min="0"
            required
          />
        </div>
        <div class="col-6">
            <label for="gender" class="form-label">Genero</label>
            <select name="gender" id="gender" class="form-select border border-dark-subtle" required>
              <option value="">Genero</option>
              <option value="H">Hombre</option>
              <option value="M">Mujer</option>
              <option value="O">Otro</option>
            </select>
          </div>
          <div class="col-6">
            <label for="subject" class="form-label">Materias</label>
            <input
              type="text"
              name="subject"
              id="subject"
              class="form-control border border-dark-subtle"
              required
            />
          </div>
          <div class="col-6">
            <label for="active" class="form-label">Activo</label>
            <select name="active" id="active" class="form-select border border-dark-subtle" required>
              <option value=true>Si</option>
              <option value=false>No</option>
            </select>
          </div>
          <div class="col-6">
            <label for="institution" class="form-label">Institución</label>
            <input
              type="text"
              name="institution"
              id="institution"
              class="form-control border border-dark-subtle"
              required
            />
          </div>
          <div class="col-6">
            <label for="titles" class="form-label">Titulos</label>
            <input
              type="text"
              name="titles"
              id="titles"
              class="form-control border border-dark-subtle"
              required
            />
          </div>
        <div class="col-12 d-grid mt-4">
          <button type="submit" class="btn btn-outline-success">Crear</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-grid mt-4">
      <a href="/teachers" class="btn btn-outline-dark">Listado de profesores</a>
    </div>
  </div>
</div>
<%-include("../layouts/footer"); -%>
